{% extends 'base.html'%}


{% block content%}
<body>
<div class="container-fluid">
  <div class="jumbotron">



  <div class="well">
<div class="panel panel-heading" style="text-align:center; ">


    <h1>CLEANING-SERVICES</h1>
</div>
  </div>
  <div class="description" style="text-align:center; ">


<p>we clean alot</p>
<p>Clean Home</p>
<p>proffesional service</p>
<p>Fair price</p>
<br>
<br>
Our professional and experienced staff does the job very well

<div class="float-right"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPMI7h7USq7dN1ysYmfO3I-lgptxEtU59sVSXWJ-Jly-Zx5OFfxQ"></div><br>
</div>
</div>
  </div>
</div>
</body>
{% endblock content%}
